COMPOSE_PROJECT_NAME=custacm-platform

KEYCLOAK_VERSION=26.6.3
KEYCLOAK_PORT=8180
KEYCLOAK_PUBLIC_URL=http://localhost:8180
KEYCLOAK_REALM=custacm
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-admin-password
KEYCLOAK_DB_PASSWORD=change-me-keycloak-db-password

BACKEND_PORT=8081
AUTH_WEB_PORT=8081
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/custacm
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/custacm/protocol/openid-connect/certs
